<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} level=[%level] logger=[%logger] thread=[%thread] rid=[%X{X-Request-ID}] user=[%X{Authorization}] message=[%message] %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <logger name="play" level="ERROR"/>

    <logger name="uk.gov.hmrc.play" level="ERROR"/>

    <logger name="uk.gov.hmrc.audit" level="ERROR"/>

    <logger name="org.mongodb.driver" level="ERROR"/>

    <logger name="uk.gov.hmrc.mongo" level="ERROR"/>

    <logger name="akka" level="ERROR"/>

    <logger name="wiremock" level="ERROR"/>

    <logger name="application" level="${logger.application:-INFO}"/>

    <root level="${logger.application:-INFO}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
